.home-box {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.home-image-pane {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.splash-image {
    width: 100%
}

.home-user-pane {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0px;
}

.login-box {
    border: 2px solid #000000;
    padding: 1em;
    margin: 1em;
    max-width: fit-content;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-status {
    max-width: fit-content;
}

.login-input {
    margin: 0.3em;
}

img.my-plants-thumbnail {
    width: 10em;
    border: 1px solid #000000;
    margin: 0.5em;
}

.new-plant-form {
    display: block;
}

.new-plant-input {
    display: block;
    margin: 0.3em;
}